.env
.env.*
!.env.example

/vendor/
/node_modules/
/storage/
/public/storage
/public/uploads

/.idea
/.vscode
.DS_Store
.rnd
__MACOSX/

*.zip
*.tar
*.tar.gz
*.sql
*.bak
*.backup
composer.phar
backup_*
*.bak_*
